<div class="about-wrapper">
  <p>Hello, I'm Anh LaRusso.</p>
  <p class="about-me">Junior Full-Stack Developer from Brooklyn, NY. Inspired by creativity and enthusiastic about building elegant, usable and effective web apps. When I'm not coding, I love making handcrafts and exploring the world. In my former life - I was a teacher and college counselor, now I'm hoping to change the world through the code I write!</p>
</div>
