<div class="about-wrapper">
  <div class="row">
    <div class="col-4">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
        <path class="work-icon" d="M21.709 4.85c0.464-0.154 104.384-0.343 104.762-0.309 c0.377 0 2 0.8 2.3 1.031c0.239 0.2 1 2 1 2.265c0 0.3 0.2 68.1 0.1 68.5 c-0.129 0.412-0.745 1.005-1.234 1.442s-1.006 0.747-1.649 0.927s-104.556 0.129-105.276 0s-1.776-0.823-2.369-1.339 c-0.592-0.515-0.927-1.417-1.133-1.855c-0.207-0.438-0.103-66.827 0-67.368s0.798-1.545 1.133-1.958S21.246 5 21.7 4.85z" class="style0"/>
        <path class="work-icon" d="M20.988 2.068c0.619-0.014 107.9 0.1 108.3 0 c0.583 0 2.4 1.3 2.5 1.443c0.087 0.2 1.1 2.3 1.1 2.678c-0.001 0.344-0.283 88.207-0.411 88.5 c-0.128 0.278-0.876 2.061-1.237 2.473c-0.36 0.412-1.776 1.468-2.678 1.648c-0.901 0.18-107.079 0.9-107.542 0.8 c-0.463-0.076-3.331-2.12-3.503-2.367c-0.171-0.248-1.673-2.035-1.854-2.68c-0.181-0.643 0-87.455 0-87.249 c0 0.2 0.875-3.348 1.236-3.708C17.229 3.3 20.6 2.2 21 2.068z" class="style0"/>
        <path class="work-icon" d="M61.188 99.364l26.37-0.183l-0.024 4.4 c0 0 12.7 12.2 13.2 12.876c0.516 0.7 0 3.1 0 3.09l-2.367 2.163H49.934l-2.473-1.235c0 0-1.545-1.804-0.824-3.399 c0.722-1.597 14.422-13.289 14.422-13.289L61.188 99.364z" class="style0"/>
        <polyline class="work-icon" points="47.5,116.2 48.6,118.5 50.1,119 97.5,118.4 99.3,117.6 99.9,115.6" class="style0"/>
        <polygon class="work-icon" points="26.7,131 90.1,130.5 91,142.6 18.7,142.6" class="style0"/>
        <polygon class="work-icon" points="23.7,127.6 125.4,127.1 134.7,144.2 134.7,147.7 13.2,147.9 12.1,144.4" class="style0"/>
        <polyline class="work-icon" points="12.1,144.4 14.1,145.7 133.2,145.3 134.7,144.2" class="style0"/>
        <polyline class="work-icon" points="93.2,130.5 104.4,130.5 105.4,136.2 94,136.2 93,130.5" class="style0"/>
        <polygon class="work-icon" points="94.2,138.1 105.7,138.1 106.6,142.4 95.2,142.6" class="style0"/>
        <polygon class="work-icon" points="107.7,130.5 123.9,130.5 128.9,142.3 111.5,142.6" class="style0"/>
        <ellipse class="work-icon" cx="75.9" cy="88.3" rx="5.2" ry="5.2" class="style0"/>
        <ellipse class="work-icon" cx="75.1" cy="7.1" rx="0.8" ry="1" class="style0"/>
        <rect class="work-icon" x="23.4" y="9.1" width="101.4" height="64.3" class="style0"/>
      </svg>
      <h3>Web Development Skills</h3>

      <div class="col-6">
        <h5>FRONT-END</h5>
        <ul>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>HTML</li>
          <li>CSS, SCSS</li>
        </ul>
      </div>

      <div class="col-6">
        <h5>BACK-END</h5>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
          <li>Sinatra</li>
          <li>RSpec</li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve"> 
        <g>
          <g>
            <path id="path" d="M111.256 102" class="style0"/>
            <path id="path" d="M2.111 148.549c0 0 5.686-20.469 6.504-22.244 c0.818-1.773 2.59-5.086 4.278-7.186c2.08-2.002 3.928-4.035 5.647-4.621s36.62-12.494 36.62-12.494l8.043 45.52h16.598 l14.727-45.844c0 0 37.3 12.2 38.5 13.158c1.201 0.9 6.1 9.3 6.7 10.439c0.566 1.1 6.4 12.1 6.7 13.3 c0.289 1.2 2.3 9.9 2.3 9.924L2.626 148.6" class="style1"/>
            <path id="path" d="M93.307 85.789l0.061 0.764l1.152 14.596l14.127 5.2 c0 0 5.637-8.703 6.75-11.184s3.592-14.633 3.592-16.77c0-2.139 0.086-15.745 0-18.653c-0.082-2.908-1.455-9.412-2.393-14.203 c-0.939-4.791-3.768-14.546-5.305-17.968c-1.539-3.421-8.303-12.407-9.924-14.374c-1.625-1.967-8.305-6.078-11.467-7.701 c-3.162-1.624-7.875-3.166-11.125-3.764c-3.246-0.598-7.288-0.057-8.726 0c-1.438 0.057-8.132 0.852-10.61 1.7 s-9.329 5.987-11.294 7.358s-5.613 7.338-6.16 8.898c-0.547 1.56-5.051 14.97-5.818 16.599c-0.767 1.628-2.463 12.758-2.738 15.2 c-0.275 2.472-0.858 9.58-1.369 12.32c-0.511 2.741-0.688 2.906-2.225 4.963c-1.537 2.057-5.652 5.648-7.358 6.3 c-1.707 0.685-6.083 0.976-7.872 1.025c-1.789 0.049-6.331 0.17-6.331 0.17s9.656 4.1 10.6 4.107s3.418 0.7 5.6 0.2 c2.229-0.51 9.127-6.16 8.385-5.474c-0.741 0.686-5.353 6.128-6.845 6.33c-1.621 1.029-6.331 0.855-6.331 0.855h-5.647 c0 0 3.2 7.2 4.4 8.557s5.814 2.7 7.5 2.738c1.715 0 4.1 0 4.1 0s-0.773 3.334-2.053 4.1 c-1.28 0.773-6.161 0.514-6.161 0.514s2.4 3.2 3.4 3.766c1.022 0.6 8.7 5.2 9.6 6.2 c0.853 1 19.618-5.908 20.243-6.572l5.94-30.867l27.551 0.513L93.307 85.789z" class="style1"/>
            <g>
              <path id="path" d="M56.967 91.053c-0.771-0.641-9.229-9.334-9.581-10.096 c-0.353-0.76-1.54-8.318-1.712-9.412c-0.172-1.093-2.224-24.128-2.224-24.128s4.92-2.436 5.647-2.396 c0.727 0 3.6 0.5 3.6 0.513l3.081 1.027l4.278-7.016l1.54 11.635l18.824-28.918c0 0 6.4 3.5 7.2 3.9 c0.768 0.4 6.8 7.3 7.2 7.7c0.346 0.4 5.2 9.6 5.8 10.782s1.582 6.2 1.5 7.4 c-0.043 1.196-0.809 14.379-1.027 16.427c-0.219 2.049-2.012 12.001-3.082 13.691s-12.244 9.283-13.348 10.1 c-1.1 0.816-9.411 5.781-11.464 5.818c-2.054 0.037-6.972-1.785-8.385-2.396C63.425 95.1 57 91.1 57 91.1 l-1.882 10.951L56.967 91.053z" class="style2"/>
            </g>
          </g>
          <path id="path" d="M155.781 54.7" class="style0"/>
        </g>
        <path id="path" d="M-3.672 99.4" class="style3"/>
      </svg>
      <h3>Hello, I'm Anh LaRusso.</h3>
       <ul>
        <li>Junior Full-Stack Developer</li>
      </ul>
    </div>
    <div class="col-4">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
        <circle id="skill-icon" cx="76.5" cy="75" r="71" class="skill0"/>
        <polygon id="skill-icon" points="75,28.5 90,81.2 90,122 82.5,126.2 69.8,126.2 62.8,123.5 62.8,80.8" class="skill0"/>
        <path id="skill-icon" d="M82.5 126.2" class="skill0"/>
        <path id="skill-icon" d="M62.75 80.75c0 0 0.8 1.4 3 1.5s3.75-1.5 3.75-1.5 s2.75 1.4 5.5 1.5s7.5-3.5 7.5-3.5L86 80.5l4 0.8" class="skill0"/>
        <polyline id="skill-icon" points="76.4,48.2 69.5,80.8 69.8,126.2" class="skill0"/>
        <line id="skill-icon" x1="82.5" y1="126.2" x2="82.5" y2="78.8" class="skill0"/>
        <path id="skill-icon" d="M79.625 44.875c-1.071 1.383-1.476 3.38-3.5 3.8 c-2.081 0.38-3.457-1.589-5.375-1.75" class="skill0"/>
        <polygon id="skill-icon" points="28.3,83.7 55,37.5 55,89.8 51.2,91.2 51.2,95.7 55,96.8 55.8,123.3 49,119.8 35,111.3 29.2,104.5 28.3,97.7 32.3,94.5 33.3,89.3" class="skill0"/>
        <line id="skill-icon" x1="32.3" y1="88.2" x2="55" y2="50.8" class="skill0"/>
        <line id="skill-icon" x1="49.8" y1="63.2" x2="49.8" y2="86.5" class="skill0"/>
        <polyline id="skill-icon" points="28.3,97.7 40.2,97.7 55,97.7" class="skill0"/>
        <line id="skill-icon" x1="49" y1="119.8" x2="49" y2="101.5" class="skill0"/>
        <line id="skill-icon" x1="35.7" y1="97.7" x2="35.7" y2="111.7" class="skill0"/>
        <polyline id="skill-icon" points="46.8,97.7 46.8,87.2 42.1,84.3 37.8,86.5 37.8,97" class="skill0"/>
        <polyline id="skill-icon" points="43.3,85.1 40.2,87.2 40.2,96.7" class="skill0"/>
        <line id="skill-icon" x1="40.2" y1="63.8" x2="40.9" y2="74" class="skill0"/>
        <line id="skill-icon" x1="45.6" y1="53.8" x2="46.7" y2="64.5" class="skill0"/>
        <polygon id="skill-icon" points="97,122.3 96.2,78.8 123.3,78.8 123.3,102.5 113,115.3" class="skill0"/>
        <line id="skill-icon" x1="103.5" y1="84.3" x2="103.5" y2="119.5" class="skill0"/>
        <line id="skill-icon" x1="117.5" y1="84.3" x2="117.5" y2="108.8" class="skill0"/>
        <line id="skill-icon" x1="103.5" y1="96.7" x2="117.5" y2="96.7" class="skill0"/>
        <polyline id="skill-icon" points="100.8,78.8 100.8,72.7 118.7,72.7 118.7,78.8" class="skill0"/>
        <line id="skill-icon" x1="103.5" y1="74.8" x2="103.5" y2="78.8" class="skill0"/>
        <polyline id="skill-icon" points="103.5,72.7 103.5,60.3 115,60.3 115,72.7" class="skill0"/>
        <line id="skill-icon" x1="111.8" y1="63.7" x2="111.8" y2="72.7" class="skill0"/>
        <polyline id="skill-icon" points="107.1,60.3 107.1,43.3 111.8,43.3 111.8,60.3" class="skill0"/>
      </svg>

      <h3>Other Skills</h3>
      
      <ul>
        <li>Knitting</li>
        <li>Needle Felting</li>
        <li>Adobe Photoshop &amp; Illustrator</li>
        <li>Teaching (math &amp; science)</li>
        <li>Career/Academic Counseling</li>
      </ul>
    </div>    
  </div>

</div>