<h2 class="section-name">Recent Blog Posts</h2>

<div class="blog-wrapper">

  <div class="blog-entry">
    <%= link_to "http://aphu420.tumblr.com/post/104538538780/obscenity-gem-a-profanity-filter", :target => "_blank" do %>
      <h5>Obscenity Gem, a profanity filter.</h5>
      <p>Have you ever wanted to filter out certain words from user generated text in your web applications? ...</p>
    <% end %>
  </div>

  <div class="blog-entry">
    <%= link_to "http://aphu420.tumblr.com/post/104538538780/obscenity-gem-a-profanity-filter", :target => "_blank" do %>
      <h5>Obscenity Gem, a profanity filter.</h5>
      <p>Have you ever wanted to filter out certain words from user generated text in your web applications? ...</p>
    <% end %>
  </div>

  <div class="blog-entry">
    <%= link_to "http://aphu420.tumblr.com/post/104538538780/obscenity-gem-a-profanity-filter", :target => "_blank" do %>
      <h5>Obscenity Gem, a profanity filter.</h5>
      <p>Have you ever wanted to filter out certain words from user generated text in your web applications? ...</p>
    <% end %>
  </div>
  
</div>