<div class="home-flexslider flexslider">
  <ul class="slides">
    <li>
      <h1>Hello, Xin Ch&agrave;o. I'm Anh.</h1>
      <h3>Full-Stack Developer</h3>
      <h3>Born in Vietnam, raised in Brooklyn.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>I'm inspired by creativity</h1>
      <h3>And enthusiastic about building elegant,</h3>
      <h3>Responsive and effective web apps.</h3>
      <button type="button" class="btn work-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>Multi-disciplinary approach</h1>
      <h3>I'm able to draw from past experiences and skills in</h3>
      <h3>development, design and communication to redefine problems.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>When I'm not coding</h1>
      <h3>I love making handcrafts, DIY projects</h3>
      <h3>and meeting new people.</h3>
      <button type="button" class="btn contact-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>If I could travel through time</h1>
      <h3>I'd like to see some dinosaurs</h3>
      <h3>and be an explorer during the age of exporation.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>In my former life</h1>
      <h3>I was a teacher and college counselor</h3>
      <h3>Now I'm hoping to change the world through the code I write!</h3>
      <button type="button" class="btn blog-btn">LEARN MORE</button>
    </li>
  </ul>
</div>


