<div class="home-flexslider flexslider">
  <ul class="slides">
    <li>
      <h1>Hello, Xin Ch&agrave;o. I'm Anh.</h1>
      <h3>Junior Full-Stack Developer</h3>
      <h3>Born in Vietnam, raised in Brooklyn.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>I'm inspired by creativity</h1>
      <h3>And enthusiastic about building elegant,</h3>
      <h3>Usable and effective web apps.</h3>
      <button type="button" class="btn work-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>Multi-disciplinary approach</h1>
      <h3>I'm able to draw from past experiences and skills in</h3>
      <h3>development, design and communication to redefine problems.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>When I'm not coding</h1>
      <h3>I love making handcrafts, DIY projects</h3>
      <h3>and meeting new people.</h3>
      <button type="button" class="btn contact-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>If I could travel through time</h1>
      <h3>I'd like to see some dinosaurs</h3>
      <h3>and be an explorer during the age of exporation.</h3>
      <button type="button" class="btn about-btn">LEARN MORE</button>
    </li>
    <li>
      <h1>In my former life</h1>
      <h3>I was a teacher and college counselor</h3>
      <h3>Now I'm hoping to change the world through the code I write!</h3>
      <button type="button" class="btn blog-btn">LEARN MORE</button>
    </li>
  </ul>
</div>

<svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
  <g>
    <polygon id="me-icon" points="193.9,199 150.5,294 137.5,294 105.7,201.5 111.1,177 142.5,192.1 184.9,167.6" class="me0"/>
  </g>
  <path id="me-icon" d="M223.142 212.7" class="me1"/>
  <path id="me-icon" d="M187.697 183.68l1.253 3.463c0 0 3.1 9.8 5 11.8 c1.866 2.1 19.8 10.3 19.8 10.283c17.102 6.6 13.1 11.1 17.7 0.763c2.303-5.178 7.709-34.722 7.709-39.18 c0-4.468 0.178-32.872 0-38.943c-0.169-6.071-3.016-19.649-4.955-29.651c-1.946-10.001-7.802-30.368-10.987-37.51 c-3.189-7.143-17.196-25.903-20.555-30.009c-3.364-4.106-17.201-12.688-23.751-16.077c-6.549-3.389-16.312-6.609-23.043-7.857 c-6.724-1.248-15.094-0.12-18.071 0c-2.979 0.119-16.845 1.777-21.976 3.57c-5.132 1.792-19.322 12.499-23.392 15.4 c-4.07 2.863-11.627 15.319-12.76 18.576c-1.134 3.257-10.462 31.251-12.05 34.652c-1.589 3.4-5.102 26.634-5.67 31.8 c-0.57 5.159-1.779 19.998-2.836 25.721c-1.06 5.721-1.424 6.064-4.608 10.36c-3.184 4.294-11.706 11.793-15.24 13.2 c-3.535 1.429-12.598 2.036-16.304 2.14c-3.705 0.101-13.113 0.354-13.113 0.354s20 8.5 22 8.6 c1.974 0.1 7.1 1.4 11.7 0.36c4.617-1.067 18.903-12.859 17.368-11.43c-1.534 1.432-11.087 12.795-14.178 13.2 c-3.358 2.148-13.113 1.784-13.113 1.784H21.896c0 0 6.6 15 9.2 17.864c2.666 2.9 12 5.7 15.6 5.7 c3.552 0 8.5 0 8.5 0s-1.602 6.959-4.252 8.57c-2.651 1.613-12.76 1.072-12.76 1.072s4.97 6.6 7.1 7.9 c2.117 1.3 18.1 10.9 19.9 13.044c1.766 2.1 38.231-9.065 41.929-13.722s12.302-64.439 12.302-64.439l65.03 13.3 L187.697 183.68z" class="me2"/>
  <path id="me-icon" d="M2.539 296.814c0 0 13.059-40.733 14.754-44.438 c1.696-3.703 4.083-12.617 7.579-17.003c4.306-4.178 9.912-6.465 13.473-7.687c3.561-1.225 74.07-28.042 74.07-28.042l25.045 94.3 h13.029l43.461-95.014c0 0 77.7 32.5 80.2 34.468c2.488 2 10.7 15.5 11.8 17.9 c1.172 2.4 4.2 23.8 4.8 26.389c0.599 2.6 3.3 19.1 3.3 19.092H3.604" class="me3"/>
  <g>
    <path id="me-icon" d="M196.07 140.4" class="me0"/>
    <path id="me-icon" d="M106.798 212.7" class="me0"/>
  </g><path id="me-icon" d="M315.363 114" class="me1"/>
  <path id="me-icon" d="M198.117 95.453l0.812 21.604l-2.859 23.4 c0 0-8.837 24.949-14.034 31.707c-4.628 6.017-29.788 20.488-33.006 21.052s-4.449 0.477-8.837-0.52s-25.99-12.476-31.707-17.674 c-5.718-5.197-17.153-33.266-17.153-33.266l-2.859-19.232l-1.039-21.571L87 100.337c0 0 5.89-6.632 7.396-6.549 c1.505 0.1 7.4 1.1 7.4 1.072l6.381 2.143l8.86-14.646l3.19 24.291l59.933-45.978c0 0-1.593-0.879 0 0 c1.59 0.9 8.1 9.1 8.8 9.899c0.715 0.8 7.4 21 8.7 23.488L198.117 95.453z" class="me0"/>
  <path id="me-icon" d="M68.864 184.8" class="me4"/>
  <path id="me-icon" d="M139.514 145.049c4.572 4.2 7.4 4.6 11.234-0.627" class="me1"/>
  <path id="me-icon" d="M125.769 162.02c5.758 9.5 31.4 9 37.6 0.9" class="me1"/>
  <path id="me-icon" d="M370.286 75.4" class="me5"/>
  <g>
    <g>
      <path d="M154.701 114.592c9.744-8.514 23.521-12.915 30.191-1.443h4.058" class="me1"/>
    </g>
    <line x1="180.2" y1="107.5" x2="184.9" y2="104.6" class="me1"/>
    <line x1="181.7" y1="108.9" x2="186.8" y2="107.5" class="me1"/>
    <line  x1="183.4" y1="110.9" x2="187.8" y2="110.3" class="me1"/>
  </g>
  <g>
    <g>
      <path d="M134.391 115.582c-9.744-8.514-23.521-12.915-30.19-1.443h-4.059" class="me1"/>
    </g>
    <line x1="108.9" y1="108.5" x2="104.2" y2="105.6" class="me1"/>
    <line x1="107.4" y1="109.9" x2="102.3" y2="108.5" class="me1"/>
    <line x1="105.7" y1="111.8" x2="101.3" y2="111.3" class="me1"/>
  </g>
  <polygon points="126.3,162.2 142.1,157.7 144.9,159.8 147.6,157.9 161.9,162.7" class="me1"/>
</svg>
