<h2 class="section-name">SKILLS</h2>
<div class="row">
  <div class="col-4">
    <p>FRONT-END</p>
    <ul>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>HTML</li>
      <li>CSS, SCSS</li>
    </ul>
  </div>
  <div class="col-4">
    <p>BACK-END</p>
    <ul>
      <li>Ruby</li>
      <li>Rails</li>
      <li>Sinatra</li>
      <li>RSpec</li>
    </ul>
  </div>
  <div class="col-4">
    <p>OTHER</p>
    <ul>
      <li>Knitting</li>
      <li>Needle Felting</li>
      <li>Teaching (math &amp; science)</li>
      <li>Career/Academic Counseling</li>
    </ul>
  </div>    
</div>