.btn {
  border: 1px solid #fff;
  color: #444;
  background: #fff;
  border-radius: 4px;
  padding: 6px;
  font-size: .8em;
  font-weight: bold;
  
  &.send-btn {
    border: none;
    background: none;
    color: #fff;
    text-shadow: 1px 2px 2px #444;
    font-size: 1em;
    &:hover {
      background: #444;
    }
  }
}

.btn:hover {
  background: none;
  color: #fff;
}

.menu-btn {
  position: fixed;
  right: 2%;
  top: 2%;
}

.social {
  display: inline-block;
  font-size: 1em;
  margin-left: 5px;
}

