@font-face {
  font-family: 'flexslider-icon';
  src: font-url('flexslider-icon.eot');
  src: font-url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
    font-url('flexslider-icon.woff') format('woff'),
    font-url('flexslider-icon.ttf') format('truetype'),
    font-url('flexslider-icon.svg#wf') format('svg');
}
