// about 
.about-wrapper {
  text-align: center;
  padding-top: 40px;
  line-height: 2;
  margin-top: 60px;
}

// skills section
.col-4 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.col-6 {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

   
.skill0{
  stroke: #26DF3A;
  stroke-miterlimit:  10;
  fill: none;
}
