 *{box-sizing: border-box;}
html {
  background-color: rgb(242, 239, 242);
}

body {
  font-family: $font-lato;
  font-weight: 300;
  color: #444;
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQIW2O8bPx6s+5ZUV8GKGCEMYgXAAABjQQFw5lyEQAAAABJRU5ErkJggg==)repeat;
}

#path, 
.work-icon,  
#skill-icon {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  @include animation(dash 4s linear alternate infinite);
}

a {
  color: #444;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

.shim {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(1, 2, 2, 0.67);
}


.section-name {
  text-align: center;
  margin-left: 20px;
  margin-top: 60px;
}


// main page
.home-flexslider {
  background: rgb(242, 239, 242);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  box-shadow: none;
  margin: 0 auto;
  // padding-top: 60px;

  h1 {
    font-size: 3em;
  }

  .slides {

    li {
      padding-top: 223px;
      padding-bottom: 223px;
    }
  }

  li:nth-of-type(2){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ce5de8ff&noise=626262&density=15&opacity=15");
  }
  li:nth-of-type(3){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=6eecf0ff&noise=626262&density=15&opacity=15");
  }
  li:nth-of-type(4){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=eda5bdff&noise=626262&density=15&opacity=15");
  }
  li:nth-of-type(5){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=f5ca1eff&noise=626262&density=15&opacity=15");
  }
  li:nth-of-type(6){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=b9de16ff&noise=626262&density=15&opacity=15");
  }
  li:nth-of-type(7){
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=626262&density=15&opacity=15");
  }
}

.main-nav {
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  width: 120px;
  border: 1px solid #fff;
  margin: 10px;
  a {
    color: #444;
  }
}

.main-nav-wrapper {
  padding-bottom: 50px;
  position: absolute;
  top: 0px;
  z-index: 1;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // padding-top: 20px;
}

.menu-btn {
  display: none;
}

#about,
#work, 
#blog,
#contact {
  display: none;
}

.style0{
  stroke: #FF3657;
  stroke-miterlimit:  10;
}
.style1{
  stroke: #FF3657;
  stroke-miterlimit:  10;
  // fill: #ffffff;
  fill: none;
}
.style2{
  stroke: #FF3657;
  stroke-miterlimit:  10;
  // fill: #FFFFFF;
  fill: rgb(242, 239, 242);
}
.style3{
  stroke: #FF3657;
  stroke-miterlimit:  10;
}

.work-icon {
  stroke: #FFCB2B;
  stroke-miterlimit:  10;
  fill: none;
}

.me0{
  stroke: #444;
  stroke-miterlimit:  10;
  fill: #FFEFD0;
  // fill: #fff;
  // fill: rgb(242, 239, 242);
}
.me1{
  stroke: #444;
  stroke-miterlimit:  10;
  fill: none;
  // fill: #fff;
  // fill: rgb(242, 239, 242);
}
.me2{
  stroke: #444;
  stroke-miterlimit:  10;
  fill: #000;
  // fill: rgb(242, 239, 242);
}
.me3{
  stroke: #444;
  stroke-miterlimit:  10;
  fill: #54154E;
  // fill: #fff;
  // fill: rgb(242, 239, 242);
}
.me4{
  stroke: #444;
  stroke-miterlimit:  10;
  fill: #595653;
  // fill: #fff;
  // fill: rgb(242, 239, 242);
}
.me5{
  stroke: #EA0EFF;
  stroke-miterlimit:  10;
  fill: #FFFFFF;
  // fill: rgb(242, 239, 242);
}

.svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .menu-btn {
    display: inline-block;
  }
}