 *{box-sizing: border-box;}

body {
  font-family: $font-lato;
  font-weight: 300;
  background: steelblue;
}

// html { 
//   background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #FF4A3F 100%);
//   background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #FF4A3F 100%);
//   background-image: -o-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #FF4A3F 100%);
//   background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #E6F1D2), color-stop(1, #FF4A3F));
//   background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #FF4A3F 100%);
//   background-image: radial-gradient(circle farthest-corner at center bottom, #E6F1D2 0%, #FF4A3F 100%);
//   min-height:100%;
// }

a {
  color: #444;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}


.shim {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(1, 2, 2, 0.67);
}

.row {
  width: 100%;
  position: relative;
  margin: 4% 0%;
  text-align: center;
}

.laptop-img {
  max-width: 60%; 
  display: inline-block;
}

.iphone-img {
  position: absolute;
  right: 373px;
  bottom: -30px;
  max-width: 12%;
  display: inline-block;
}

.description {
  text-align: left;
  margin: 0% 0% 0% 2%;
  vertical-align: top;
  width: 20%;
  display: inline-block;
  h5, h6 {
    font-family: $font-montserrat;
  }
  h6 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}

.flexslider {
  .slides {
    padding: 0px;
  }
}

.section-name {
  text-align: center;
  margin-left: 20px;
}


// skills section
.col-4 {
  width: 33%;
  display: inline-block;
}



// main page
.main-nav {
  display: inline-block;
  width: 20%;
}

.main-nav-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

// about 
.about-wrapper {
  text-align: center;
}

.about-me {
  margin: 0 auto;
  text-align: left;
  width: 50%;
}

// blog
.blog-wrapper {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.blog-entry {
  border-bottom: 1px dotted #444;
  padding: 20px;
}
