// work
.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  position: relative;
  margin: 2% 0%;
  text-align: center;
}

.laptop-img {
  max-width: 60%; 
  display: inline-block;
}

.iphone-img {
  position: absolute;
  right: 373px;
  bottom: -30px;
  max-width: 12%;
  display: inline-block;
}

.description {
  text-align: left;
  margin: 0% 0% 0% 2%;
  vertical-align: top;
  width: 20%;
  display: inline-block;
  h5, h6 {
    font-family: $font-montserrat;
  }
  h6 {
    margin: 15px 0px 10px;
  }
  p {
    margin: 0px;
  }
}

.flexslider {
  .slides {
    padding: 0px;
  }
}

.links {
  font-weight: bolder;
}

@media screen and (max-width: 600px) {

  .description {
    display: block;
    width: 100%;

    p, h6, h5 {
      margin: 15px 50px;
    }
  }
  
  .links {
    text-align: center;
  }

  .iphone-img {
    right: 26px;
    bottom: 360px;
  }

  .section-name {
    margin-top: 80px;
  }
}
